<div class="2xl:container 2xl:mx-auto md:py-12 lg:px-20 md:px-6 py-9 px-4">
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  <div class="text-center">
    <h2
      class="font-semibold dark:text-white lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-gray-800 md:w-full w-9/12 mx-auto">
      Follow Us on Instagram</h2>
    <p class="font-normal text-base leading-6 dark:text-gray-400 text-gray-600 mt-4 lg:w-5/12 md:w-9/12 mx-auto">Follow
      us on instagram @<span class="underline cursor-pointer">followuspleaseee</span> and tag us to get featured on our
      timeline</p>
  </div>

  <div class="text-center">
    <input [formControl]="subredditForm" placeholder="find">
    <button (click)="openModal()" *ngIf="selectedSubreddits.length>0"
            class="py-2 px-3 m-2 bg-pink-600 hover:bg-nav-hover-blue rounded-md text-white">open
    </button>
    <div *ngIf="selectedSubreddits.length>0" class="text-purple-600">selected: {{selectedSubreddits}} <span
      (click)="resetSubs()" class="text-red-600">X</span></div>
  </div>
  <div class="flex flex-wrap">
    <div *ngFor="let r of subredditList" class="mr-3">
      <button (click)="addSubreddits(r)"
              class="py-2 px-3 m-2 bg-blue-500 hover:bg-nav-hover-blue rounded-md text-white">
        {{r}}
      </button>
    </div>
  </div>
</div>



<div *ngIf="opened" aria-labelledby="modal-title" aria-modal="true" class="fixed z-10 inset-0 overflow-y-auto"
     role="dialog">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div aria-hidden="true" class="fixed inset-0 bg-gray-900 bg-opacity-95 transition-opacity"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span aria-hidden="true" class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>

    <div class="inline-block transform transition-all sm:align-middle sm:w-full">

      <div style="height: 50px" class="w-max">
        <button (click)="opened = false"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                type="button">
          Close
        </button>
        <button (click)="goBack()" *ngIf="i > 0"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                type="button">
          back
        </button>
        <button (click)="goNext()"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                type="button">
          next
        </button>
      </div>
      <div style="height: calc(100vh - 100px); display: flex; align-items: center; justify-content: center"
           (swipeleft)="goNext()" (swiperight)="goBack()">

        <ng-container *ngIf="medias[i].video; else imgV">
          <video [src]="medias[i]?.video" [title]="medias[i]?.name" autoplay
                 controls loop style="max-height: 100%; max-width: 100%">
          </video>
        </ng-container>
        <ng-template #imgV>
          <img style="max-height: 100%; max-width: 100%" [src]="medias[i].img">
        </ng-template>
      </div>

      <div class="w-max text-purple-50" style="height: 50px">
        Name {{medias[i]?.name}}
      </div>
    </div>
  </div>
</div>
